div{
color: #D8DEE3;
}

input{
background-color: #282c34;
color: #6c757d;
border-color: #6c757d;
transition: all 0.5s ease-in-out;
}

.App {
  text-align: center;
	width: 100%;
  background-color: #282c34;
  min-height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: white;
	padding: 10px 20px 15px 20px;
	box-shadow: 0px 0px 2px rgba(108,117,125,255);
}

.App-link {
  color: #61dafb;
}

.App-body {
display: flex;
flex-grow:10;
flex-direction: row;
justify-content:center;
align-items: stretch;
}

.App-body div{
padding: 10px;
}

.sidePane{
min-width: 20px;
display: flex;
justify-content: flex-start;
align-items: stretch;
flex-direction: column;
box-shadow: 0px 1px 2px rgba(108,117,125,255);
transition: all 0.5s ease-in-out;
padding: 0px;
}

.sidePane div{
display: flex;
align-items: center;
justify-content: center;
}

.mainPane{
flex-grow: 10;

}

.label{
	padding: 6px 12px 6px 12px;
	font-weight: bolder;
	color: #61DAFB;
}

.sideToggle{
font-weight: 1000;
font-family: san-serif;
font-size: large;
text-align: end;
justify-content: flex-end;
}

.inpt{
width: 100%;
border-color: #6c757d;
transition: all 0.5s ease-in-out;
}

.btn{
transition: all 0.5s ease-in-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
